<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Neville Walo
  </h1>
  <hr>

  <h2>
    <a href="https://nevillewalo.ch/">My Website</a>
  </h2>
  <br>
  <h2>
    <a href="https://www.youtube.com/channel/UCNwM0-p4iQNBkW6TUg7NkeA" target="_blank">Ultrawide GC</a>
  </h2>
  <br>
  <h2>
    <a href="https://gunhead.ch/" target="_blank">Gunhead</a>
  </h2>
  <br>
  <h2>
    <a href="https://nevillewalo.ch/Photos" >Photos</a>
  </h2>
  <br>
  <h2>
    <a href="https://nevillewalo.ch/ContactMe" >Contact Me</a>
  </h2>


</div>


<!--<router-outlet></router-outlet>-->
